/* CSS for form */
.info {
    display: flex;
}
.left {
    margin-right: 80px;
}

.left div, .right div {
    margin-bottom: 20px;
}

.left label, .right label {
    width: 100px;
    display: inline-block;
}

.left input, .right input {
    padding: 8px 40px;
}

.func_btn input{
    padding: 5px 30px;
    margin: 20px 20px;
}

.error {
    color: red;
    text-align: right;
}

/* CSS for table */
.studentDAO {
    width: 100%;
}
table {
    width: 70%;
    margin: 20px auto;
}
table th {
    border-bottom: 2px solid black;
}
tbody tr td{
    text-align: center;
}